.accordion {
    &__item {
        margin: 0 0 16px;
        background-color: $base-color-light;
        border-radius: $border-radius-normal;
        box-shadow: $box-shadow-small-light;

        &:last-child {
            margin-bottom: 0;
        }
    }

  &__title {
      position: relative;
      padding: 20px 50px 20px 20px;
      display: block;
      font-size: rem(20);
      text-align: left;
      list-style: none;
      cursor: pointer;
      transition: margin 150ms ease-out;

      &::-webkit-details-marker {
          display: none;
      }

      &::-moz-list-bullet {
          list-style-type: none;
      }

      &::after {
          content: "❯";
          position: absolute;
          top: 50%;
          right: 20px;
          display: inline-block;
          text-align: right;
          background-repeat: no-repeat;
          background-position: right center;
          transform: translate(-50%, -50%) rotate(90deg);
          transition: .3s
      }

      .accordion__item[open] &::after {
          transform: translate(-50%, -50%) rotate(270deg);
      }

      &:focus {
          outline: none;
          font-weight: bold;
      }
  }

  &__content {
      margin-bottom: 0;
      padding: 0 20px 20px;
      line-height: 1.6;

      p {
          margin-top: 0;
          margin-bottom: 12px;
          font-size: rem(16);

          &:last-child {
              margin-bottom: 0;
          }
      }
  }
}