<section class="about" id="about">
    <div class="container_right">
        <h2 class="title about__title">	&#128521; Lorem ipsum dolor sit amet. </h2>
        <div class="about__content">
            <div class="about__photo">
                <picture>
                    <source type="image/webp" srcset="
                    /images/about/webp/marika240.webp 240w,
                    /images/about/webp/marika320.webp 320w,
                    /images/about/webp/marika480.webp 480w,
                    /images/about/webp/marika640.webp 640w"
                    sizes="(max-width: 1300px) 240px, 320px"
                    >
                    <img width="320" height="484" loading="lazy" decoding="async" src="/images/about/marika320.jpg" srcset="/images/about/marika320.jpg 1x, /images/about/marika640.jpg 2x" alt="Обо мне">
                </picture>
            </div>
            <div class="about__description">
                <p class="about__description-title">Lorem3 &#128075;</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt eaque eum eveniet harum nesciunt quasi repellat sequi suscipit velit! &#129505;</p>
            </div>
        </div>
    </div>
</section>