<section class="faq" id="faq">
    <div class="container">
        <h2 class="title title_indent">&#10068; Lorem ipsum dolor sit amet.</h2>

        <div class="accordion">
            <details class="accordion__item">
                <summary class="accordion__title">Lorem ipsum dolor.</summary>
                <div class="accordion__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur deserunt distinctio earum eligendi esse, ex hic id incidunt, itaque laudantium libero molestias natus optio possimus, quis quo vel velit?</p>
                </div>
            </details>
        </div>
    </div>
</section>