<section class="finish">
    <div class="container">
        <div class="finish__inner">
            <h2 class="title finish__title">&#11088; Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>

            <div class="finish__variants">
                <div class="finish__variant">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </div>

                <div class="finish__variant">
                    Lorem ipsum dolor sit amet, consectetur adipisicing.
                </div>

                <div class="finish__variant">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptatem!
                </div>
            </div>

            <div class="finish__after">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores enim excepturi id illo ipsam ipsum molestias odit praesentium veritatis!</p>
            </div>
        </div>
    </div>
</section>