<footer class="footer">
    <div class="container">
        <nav class="footer__contacts">
            <a href="mailto:info@portfoliouchenika.ru" class="footer__email">info@portfoliouchenika.ru</a>
            <a class="social__link" href="https://t.me/portfoliouchenika" target="_blank">
                <img src="/images/assets/telegram.svg" alt="" aria-label="Перейти в Telegram">
            </a>
            <a class="social__link" href="https://wa.me/79498277131" target="_blank" aria-label="Перейти в Whatsapp">
                <img src="/images/assets/whatsapp.svg" alt="">
            </a>
        </nav>

        <nav class="footer__copyright">
            <a x-on:click.prevent.stop="modalPolicyHide = ! modalPolicyHide" href="">Пользовательское соглашение</a>
            <a href="/files/konf.pdf" target="_blank">Политикой конфиденциальности</a>
            <div>© Copyright 2024 – Все права защищены</div>
        </nav>
    </div>
</footer>