<section class="individual">
    <div class="container">
        <div class="individual__inner">
            <h2 class="title title_indent">&#127919; Lorem ipsum dolor sit amet.</h2>

            <div class="individual__content">
                Lorem ipsum dolor sit amet.<span class="individual__selection">Lorem ipsum.</span>, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fuga iure laudantium mollitia natus nobis officiis porro quae reiciendis. Nulla!
            </div>

            <section class="individual__contacts">
                <div class="contacts-social individual__social">
                    <ul>
                        <li class="contacts-social__link">
                            <span class="contacts-social__link-title">Telegram:</span>
                            <a href="https://t.me/portfoliouchenika" target="__blank">@portfoliouchenika</a>
                            <a href="https://t.me/portfoliouchenika" target="__blank" aria-label="Перейти в Telegram">
                                <img class="contacts-social__icon" src="/images/assets/telegram.svg" alt="">
                            </a>
                        </li>

                        <li class="contacts-social__link">
                            <span class="contacts-social__link-title">Whatsapp:</span>
                            <a href="https://wa.me/79498277131" target="__blank">+7 (949) 827-71-31</a>
                            <a href="https://wa.me/79498277131" target="__blank" aria-label="Перейти в Whatsapp">
                                <img class="contacts-social__icon" src="/images/assets/whatsapp.svg" alt="">
                            </a>
                        </li>
                        <li class="contacts-social__link">
                            <span class="contacts-social__link-title">Email:</span>
                            <a href="">info@portfoliouchenika.ru</a>
                        </li>
                    </ul>
                </div>

                <div class="contacts-form individual__contacts-form">
                    <h3 class="contacts-form__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, saepe!</h3>

                    <form @ajax:success="modalSendSuccessHide = false, formName = '', formPhone = ''"
                          @ajax:error="sendFail = true, formName = '', formPhone = ''"
                          x-target="send-success" method="POST" class="individual__form"
                          action="/server/index.php">
                        <div class="contacts-form__field individual__form-field">
                            <label class="contacts-form__label" for="contacts-individual-name">
                                Ваше имя
                            </label>
                            <input x-model="formName" class="text-input contacts-form__input individual__form-input" id="contacts-individual-name" type="text" name="name" placeholder="Имя" required>
                        </div>

                        <div class="contacts-form__field individual__form-field">
                            <label class="contacts-form__label" for="contacts-individual-phone">
                                Телефон
                            </label>
                            <input x-model="formPhone" x-mask="+7 (999) 999-99-99" placeholder="+7 (XXX) XXX-XX-XX" class="text-input contacts-form__input individual__form-input" id="contacts-individual-phone" name="phone" type="text" required>
                        </div>

                        <button class="button contacts-form__button individual__form-button">
                            Оформить <span id="send-success"></span>
                        </button>

                        <div x-cloak x-show="sendFail" class="contacts-form__error">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quia!
                        </div>

                        <div class="contacts-form__footer">
                            Заполняя форму Вы соглашаетесь с <a href="/files/konf.pdf" target="_blank">Политикой конфиденциальности</a> и <a x-on:click.prevent.stop="modalPolicyHide = ! modalPolicyHide" href="">Пользовательским соглашением</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>