<section class="portfolios" id="portfolios">
    <div class="portfolios__inner">
        <div class="portfolios__header">
            <div class="step portfolios__step">Шаг 1</div>
            <h2 class="title title_indent">&#128525; Lorem ipsum dolor sit amet.</h2>
        </div>

        <div class="swiper swiper-portfolio slider portfolios__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="swiper-slide__link_portfolio" href="/images/preview/1.webp">
                        <picture>
                            <source
                                type="image/webp"
                                srcset="
                                    /images/covers/webp/1x230.webp 230w,
                                    /images/covers/webp/1x275.webp 275w,
                                    /images/covers/webp/1x300.webp 300w,
                                    /images/covers/webp/1x340.webp 340w,
                                    /images/covers/webp/1x460.webp 460w,
                                    /images/covers/webp/1x550.webp 550w,
                                    /images/covers/webp/1x600.webp 600w,
                                    /images/covers/webp/1x680.webp 680w,"
                                sizes="(max-width: 350px) 275px, (max-width: 450px) 300px, (max-width: 500px) 230px, (max-width: 550px) 275px, (max-width: 600px) 300px, (max-width: 740px) 340px, (max-width: 970px) 230px, (max-width: 1150px) 275px, (max-width: 1300px) 300px, (max-width: 1450px) 230px, (max-width: 1800px) 275px, (max-width: 1980px) 300px, 340px">
                            <img
                                class="swiper-slide__img"
                                width="300"
                                height="424"
                                src="/images/covers/1x300.jpg"
                                srcset="/images/covers/1x300.jpg 1x, /images/covers/1x600.jpg 2x" alt="Портфолио ученика Школьные наклейки">
                        </picture>
                    </a>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>

            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>