<section class="price">
    <div class="container">
        <div class="price__inner">
            <div class="step price__step">Шаг 2</div>

            <h2 class="title title_indent"> &#128176; Выберите тариф</h2>

            <div class="price__list">
                <div class="price__list-tariff">
                    <div class="price__list-title">Стандартный</div>

                    <div class="price__list-description">
                        <ul>
                            <li class="price__list-item"><span class="price__list-selection">6</span> готовых страниц портфолио</li>

                            <li class="price__list-item"><span class="price__list-selection">Страницы:</span> 
                                <ul class="price__list-pages">
                                    <li class="price__list-page">Lorem ipsum.</li>
                                </ul>
                            </li>

                            <li class="price__list-item">Вы получаете готовое портфолио в <span class="price__list-selection">отличном</span> качестве в формате  <span class="price__list-selection">JPG</span>, <span class="price__list-selection">PDF</span> (по согласованию)</li>
                        </ul>
                    </div>

                    <div class="price__value">699р</div>
                </div>
            </div>
        </div>
    </div>
</section>