<section class="quick-steps">
    <div class="container">
        <div class="quick-steps__inner">
            <div class="quick-steps__user">
                <ul class="quick-steps__list">
                    <li class="quick-steps__title">&#128578; Вы:</li>
                    <li class="quick-steps__item">Lorem ipsum dolor sit amet.</li>
                    </li>
                </ul>
            </div>

            <div class="quick-steps__seller">
                <ul class="quick-steps__list">
                    <li class="quick-steps__title">&#128522; Я:</li>
                    <li class="quick-steps__item quick-steps__item_seller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, pariatur!</li>
                </ul>
            </div>

            <div class="quick-steps__more">
                <a class="button quick-steps__button" href="#portfolios">
                    Lorem ipsum dolor sit.
                    <svg class="quick-steps__button-arrow" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                        <path d="M13 15L16 12M16 12L13 9M16 12H8M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>