<section class="work">
    <div class="work__inner">
        <div class="work__header">
            <div class="step work__step">Шаг 4</div>
            <h2 class="title work__title">&#9997; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, provident.</h2>
        </div>

        <div class="work__items">
            <div class="work__item">
                <div class="work__item-content">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
</section>