.footer {
    padding: 24px 0;
    background: $main-color;

    a {
        color: $font-color-dark;
    }

    &__contacts {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 12px;
        font-size: rem(20);
        text-align: right;
    }

    &__copyright {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        text-align: right;
    }

    @include breakpoint-max($big-phone) {
        padding-left: 0;
        padding-right: 0;

        &__contacts {
            font-size: rem(16);
        }

        &__copyright {
            flex-wrap: wrap;
        }
    }

    @include breakpoint-max($small-phone) {
        &__email {
            width: 100%;
        }
    }
}