$sl-font-family: "Roboto", sans-serif;
$sl-overlay-background: #222;
$sl-navigation-color: var(--base-color-light);
$sl-caption-color: var(--base-color-light);
$sl-caption-background: rgba(0, 0, 0, 0.8);
$sl-counter-fontsize: 1rem;
$sl-download-fontsize: 1rem;
$sl-caption-fontsize: 1rem;
$sl-close-fontsize: 3rem;
$sl-breakpoint-medium: 35.5em;
$sl-breakpoint-large: 50em;
$sl-arrow-fontsize-small: 2rem;
$sl-arrow-fontsize-medium: 3rem;
$sl-arrow-fontsize-large: 3rem;
$sl-img-border-small: 0 none;
$sl-img-border-medium: 0 none;
$sl-img-border-large: 0 none;
$sl-iframe-border-small: 0 none;
$sl-iframe-border-medium: 0 none;
$sl-iframe-border-large: 0 none;
$add-vendor-prefixes: true;