.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.2;
    color: var(--font-color-light);

    @include breakpoint-max($tablet) {
        order: 0;
    }
}